*{
    margin: 0;
    padding: 0;
}

.flex{
    display:flex;
    flex-direction:row-reverse;
}

header{
    background-color: #3A86FF;
    color: #FFBE0B;
    height: 4em;
    align-items: center;
    justify-content: center;
}

section{
    margin-top: 2px;
}

.menu{
    /* border: 1px solid #8338EC; */
    padding: 1em;
    gap: 2em;
    height: auto;
    justify-content: space-between;
}

.agregar{
    background-color: #FFBE0B;
    padding: 1em;
    gap: 0.5em;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: 1px solid red; */
}

.textbox{
    width: 280px;
    justify-content: space-between;
}

.busqueda{
    /* width: 25%; */
}

.resultado{
    color: red;
}

.tarjetas{
    width: 100%;
    /* border: slateblue solid 1px; */

}

.listado {
    justify-content: left;
    align-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.tarjeta{
    border: #FFBE0B 1px solid;
    border-radius: 1em;
    width: 8em;
    height: 8em;
    background-color:#3A86FF;
    margin-top: 2px;
    margin-left: 2px;
    font-weight: bold;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tarjeta p{
    gap: 0.5em;
    padding: 0.5em;
}